# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
smarthome/smarthome.html
smarthome/on.jpg
smarthome/smart.css
smarthome/on.jpg
pages/java.js
backendSource/node_modules/ws/lib/.DS_Store
backendSource/node_modules/ws/lib/.DS_Store
backendSource/node_modules/websocket-stream/node_modules/ws/lib/.DS_Store
backendSource/.DS_Store
pages/.DS_Store
